*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root{
    --grey: #b1b5bc;
    --dark-grey: #41516b;
    --light-grey: #617196;
    --deep-grey: #4d4d4d;
    --brown: #757575;
}
html{
    font-size: 62.5%; /*1rem = 10px*/
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (min-width: 22.5em){
    html{
        font-size: 85%;
    }
  }

body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.header{
    background: url('./assets/top.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.center-block{
    position: absolute;
    top: 40%; 
    right: 50%;
    transform: translate(50%,-50%);
}

.nav{
    padding-top: 1rem;
}

.container{
    background-color: white;
    padding: 1rem 0;
}

.inner-container{
    width: 90vw;
    margin: 0 auto;
}

@media only screen and (min-width: 22.5em){
    .inner-container{
        width: 80vw;
    }
  }

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image-box{
    width: 3rem;
    height: 3rem;
}

.profile-image{
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    object-fit: cover;
}

.nav__list{
    list-style: none;
    text-decoration: none;
}

.nav__list-item{
    padding-bottom: .1rem;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
}

.nav__list-item:not(:last-child){
    margin-right: 2.5rem;
}

.nav-link{
    text-decoration: none;
}

.nav__link--white{
    color: white;
    border-bottom: 1px solid white;
}

.nav__link--brown{
    color: var(--brown);
    border-bottom: 1px solid var(--brown);
}

.title-box{
    margin-left: .5rem;
}

.title-text{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    line-height: 0.9;
}

.title-text--md{
    font-size: 1.6rem;
}


.title-text--brown{
    color: var(--brown);
}

.title-text--blue{
    color: #3b4c63;
}

.title-text--light-grey{
    color: var(--light-grey);
}

.title-text--lg{
    font-size: 6.5rem;
}

.title-text--lgr{
    font-size: 7rem;
}

.history{
    background: url('./assets/peak.png') no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 120vh;
}

.section-title{
    font-size: 2rem;
    color: var(--dark-grey);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.section-number{
    font-size: 5rem;
    margin-bottom: -1.5rem;
    font-family: 'Oswald', sans-serif;
}

.section-number--light-grey{
    color: var(--light-grey);
}

.section-number--grey{
    color: var(--grey);
}


.title-square-box{
    align-self: flex-end;
}

.square{
    width: 1rem;
    height: 1rem;
}

.square--grey{
    background-color: var(--grey);
}

.square--light-grey{
    background-color: var(--light-grey);
}

.history-text{
    margin-left: 3.5rem;
}

.carousel-box{
    position: absolute;
    bottom: 0;
    background-color: var(--dark-grey);
    width: 100%;
    opacity: 0.7;
    padding: 2rem 0;
}

.climb-text{
    margin-left: 1rem;
}

.footer{
    background-color: var(--dark-grey);
    padding: 1rem 0;
}

.footer-text{
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--light-grey);
    font-weight: 900;
    font-style: italic;
}

.flex-end{
    align-items: flex-end;
}

.tab-box{
    background-color: var(--dark-grey)
}


.carousel{
    margin: 0 auto;
    width: 90vw;
}
  
.carousel-inner{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-inner > * {
  scroll-snap-align: center;  
}

.carousel-inner::-webkit-scrollbar {
  display: none;
}

.carousel__image-box{
    display: flex;
  height: 12.3rem;
  padding: 0 1rem;
}

.carousel__image{
  height: 100%;
}

.card{
    background-color: #fff;
    opacity: 0.9;
    padding: 1rem 2rem;
    width: 80%;
    margin: 5rem auto 0;
}

@media only screen and (min-width: 25em){
    .card{
        margin: 5rem 0 0 2rem;
        width: 25rem;
    }
  }

.card__title{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-family: 'Oswald', sans-serif;
}

.card__item:nth-child(4){
    margin: 1.5rem 0;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry {
  min-height: 0;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
  display: none;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion--tabs {
  background-color: var(--dark-grey);
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
}

.ootb-tabcordion--tabs .tab {
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-family: 'Oswald', sans-serif;
  outline: none;
  border: none;
  background-color: var(--dark-grey);
  color: var(--grey);
}

.ootb-tabcordion--tabs .tab:hover, .ootb-tabcordion--tabs .tab:focus {
  outline: none;
  cursor: pointer;
}

.ootb-tabcordion--tabs .tab.is-active {
  background-color: var(--grey);
  color: var(--dark-grey);
  text-decoration: underline;
}

.ootb-tabcordion--tabs .tab.is-active:hover, .ootb-tabcordion--tabs .tab.is-active:focus {
  cursor: pointer;
}

.ootb-tabcordion--entry {
  overflow: hidden;
}

.entry1{
  background-image: url('./assets/bot1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.entry2{
  background-image: url('./assets/bot2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.ootb-tabcordion--entry::before {
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  background-color: var(--dark-grey);
  color: var(--grey);
  text-transform: uppercase;
  padding: .5rem 1rem;
  display: block;
  font-weight: 900;
}

.ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
  outline: none;
}

.ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  margin-top: 0;
  height: auto;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
}

.ootb-tabcordion--entry.is-active::before {
  background-color: var(--grey);
  color: var(--dark-grey);
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
  margin-bottom: 1px;
}

.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 0;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: 1rem;
}
